<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFklJTeSw8h0Al5prl_joaTMZWnfp225s</string>
	<key>GCM_SENDER_ID</key>
	<string>393965838506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>scholar-chat-app-54318</string>
	<key>STORAGE_BUCKET</key>
	<string>scholar-chat-app-54318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393965838506:ios:31b4b3cc7da79f93c630d3</string>
</dict>
</plist>